[user]
	name = Nicholas Asimov
	email = nicholas@asimov.me
[credential]
    # Cache passwords in memory for 30 days
	helper = cache --timeout=2592000
[push]
	followTags = true
[pull]
	rebase = true
[rebase]
	autoStash = true
[gui]
	fontui = -family Roboto -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Fira Mono\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	spellingdictionary = none
	tabsize = 4
