[user]
	name = Nicholas Asimov
	email = nicholas@asimov.me
	signingkey = E5E3DA0973526E74
[credential]
	# Cache passwords in memory for 30 days
	helper = cache --timeout=2592000
[init]
	defaultBranch = master
[push]
	followTags = true
[pull]
	rebase = true
[rebase]
	autoStash = true
[gui]
	fontui = -family Roboto -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	fontdiff = -family \"Fira Mono\" -size 9 -weight normal -slant roman -underline 0 -overstrike 0
	spellingdictionary = none
	tabsize = 4
[alias]
	ugi = gui
[url "ssh://git@github.com/"]
	insteadOf = https://github.com/
